body {
    background-image: url("https://rare-gallery.com/uploads/posts/385181-4k-wallpaper.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;

    /* background-color: black; */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    /* Font */
    font-family: 'Comfortaa', cursive;
    font-family: 'M PLUS 1', sans-serif;
}

a {
    text-decoration: none;
    color: snow;
}

.title {
    font-size: 100px;
    color: white;
    text-align: center;
    margin: 40px;
}

#items-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 90%;
    margin-left: 5%;
    padding: 0;
}

.item {
    width: 40vw;
    height: 30vh;
    margin: 20px;

    /* Background */
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border-radius: 8px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.06);

    color: snow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: .3s;
}

.item h1 {
    font-size: 36px;
}

.item:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.05));
    transition: .3s;
    transform: scale(1.05);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

@media (pointer: coarse) {
    .item {
        width: 80vw;
        height: 25vh;
    }

    .item h1 {
        font-size: 70px;
    }

    .item p {
        font-size: 36px;
    }
}